@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-bengali), sans-serif;
  background-color: theme('colors.background');
  color: theme('colors.foreground');
}